*.iml
.gradle
.idea
.idea/workspace.xml
.idea/libraries
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
