<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cs595.uwm.chatbylocation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps"
        android:required="true"/>
    <uses-feature android:name="android.hardware.location.network"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:supportsRtl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.GeofenceTransitionsIntentService" />

        <activity android:name=".view.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SelectActivity"
            android:screenOrientation="portrait"
            android:label="@string/selectActivityLabel" />
        <activity
            android:name=".view.ChatActivity"
            android:screenOrientation="portrait"
            android:label="@string/chatActivityLabel"
            android:parentActivityName=".view.SelectActivity" />
        <activity
            android:name=".view.ChatNameSelectionActivity"
            android:screenOrientation="portrait"
            android:label="Select Chat Name" />

        <dialog
            android:name=".Activity.CreateRoomDialog"
            android:label="Create Room" />

        <activity
            android:name=".view.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".view.RoomUserListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_room_user_list" />
        <activity
            android:name=".view.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="Create Account" />
        <activity
            android:name=".view.SignInActivity"
            android:screenOrientation="portrait"
            android:label="Log In to Existing Account" />
    </application>

</manifest>