*.iml
.gradle
.idea
.idea/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/app/google-services.json
/auth/build
/database/build
/library/build
/storage/build